@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;500;600;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Dosis", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/guts_beast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0;
}

/* DATE MODULE */

.time-module {
  padding: 5px 3rem 5px 3rem;
  background-color: rgba(227, 227, 227, 0.5);
  font-size: 0.8rem;
  border-radius: 9px;
  margin-top: 1rem;
  backdrop-filter: blur(4px);
}

.date {
  margin-left: 1rem;
  color: rgb(110, 110, 110);
}

/* MAIN CONTENT */

main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 0.5rem;
  text-align: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.headline {
  font-size: 3.2rem;
  margin-top: 5.5rem;
  margin-bottom: 1.8rem;
  color: rgba(245, 245, 245, 0.833);
  border: 0;
  outline: 0;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-weight: 100;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.714);
  font-weight: 100;
  margin-bottom: 1rem;
}

.quick-links,
.weather,
.placeholder,
.notes {
  display: flex;
  flex-direction: column;
  background-color: rgba(227, 227, 227, 0.5);
  min-width: 250px;
  height: 342px;
  border-radius: 13px;
  backdrop-filter: blur(4px) grayscale(50%);
  padding: 20px 7px;
  text-transform: uppercase;
}

/* NOTE MODULE SPECIFICS*/

.add-notes-icon {
  filter: invert(0%) sepia(0%) saturate(18%) hue-rotate(293deg) brightness(95%) contrast(105%);
  width: 1.7rem;
  position: absolute;
  right: 3rem;
  top: 1.35rem;
  transition: all 0.5s ease;
}

.add-notes-icon:hover {
  transform: rotate(90deg);
  cursor: pointer;
}

textarea {
  resize: none;
  width: 100%;
  border-radius: 9px;
  padding: 3px 5px;
  overflow-y: hidden;
}

.note-div {
  position: relative;
  gap: 5px;
}

.remove-note-btn {
  position: absolute;
  left: -5px;
  top: -5px;
  width: 15px;
}

.remove-note-btn:hover {
  cursor: pointer;
}

.note {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  outline: 0;
}

/* END OF NOTE MODULE */

.quick-links {}

.weather {}

.placeholder {}

.notes {
  gap: 5px;
  overflow-y: scroll;
}

/* RANDOMIZE BACKGROUND IMAGE BUTTON */

.new-bg-btn {
  padding: 8px 28px;
  background-color: rgba(227, 227, 227, 0.5);
  color: rgb(110, 110, 110);
  font-size: 0.8rem;
  border-radius: 9px;
  border: 0;
  margin-top: 7rem;
  margin-bottom: 2rem;
  backdrop-filter: blur(4px);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  text-transform: lowercase;
  cursor: pointer;
}

.new-bg-btn:hover {
  backdrop-filter: none;
  box-shadow: 0 0 1px 1px rgba(230, 230, 230, 0.5);
}

.new-bg-btn:hover .btn-icon {
  transform: rotate(120deg);

}

.btn-icon {
  width: 0.8rem;
  margin-right: 0.5rem;
  transition: all 0.5s ease;
}







/* UTILITY CLASSES */

.bold {
  font-weight: 900;
}