@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;500;600;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Dosis", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1630839437035-dac17da580d0?crop=entropy&cs=srgb&fm=jpg&ixid=M3w1MzczMTN8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDIwNDUyNTh8&ixlib=rb-4.0.3&q=85");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0;
}

/* DATE MODULE */

.time-module {
  padding: 5px 3rem 5px 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  border-radius: 9px;
  margin-top: 1rem;
  backdrop-filter: blur(4px);
}

.date {
  margin-left: 1rem;
  color: rgb(220, 220, 220);
}

/* MAIN CONTENT */

main {
  display: flex;
  flex-direction: column;
  width: 95vw;
  gap: 0.5rem;
  text-align: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.headline {
  font-size: 3.2rem;
  margin-top: 5.5rem;
  margin-bottom: 1.8rem;
  color: rgba(245, 245, 245, 0.833);
  border: 0;
  outline: 0;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-weight: 100;
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.quick-links,
.weather,
.placeholder,
.notes {
  display: flex;
  flex-direction: column;
  background-color: rgba(70, 255, 255, 0.3);
  min-width: 250px;
  height: 342px;
  border-radius: 13px;
  backdrop-filter: blur(4px) grayscale(50%);
  padding: 0px 0px 20px 0px;
  gap: 4px;
  overflow-y: scroll;
  text-transform: uppercase;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.3);
}

.quick-links::-webkit-scrollbar,
.weather::-webkit-scrollbar,
.placeholder::-webkit-scrollbar,
.notes::-webkit-scrollbar {
  display: none;
}

.sticky {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(25, 25, 25, 0.5);
  backdrop-filter: blur(400px);
}

/* WEATHER MODULE SPECIFICS */

.forecast-card {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-transform: none;
  margin-left: 2px;
  margin-right: 2px;
  z-index: 1;
}

.forecast-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h4 {
  text-align: left;
  margin-bottom: 5px;
}

.data-div {
  display: flex;
  gap: 4px;
}

.data-obj {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 2px 5px;
}

.weather-img {
  width: 4rem;
}

/* NOTE MODULE SPECIFICS*/

.add-notes-icon {
  filter: invert(0%) sepia(0%) saturate(18%) hue-rotate(293deg) brightness(95%) contrast(105%);
  width: 1.7rem;
  position: absolute;
  right: 3rem;
  top: 0.6rem;
  transition: all 0.5s ease;
}

.add-notes-icon:hover {
  transform: rotate(90deg);
  cursor: pointer;
}

textarea {
  resize: none;
  width: 98.5%;
  border-radius: 5px;
  border-top-right-radius: 0;
  padding: 3px 5px;
  overflow-y: hidden;
  margin-left: 1px;
  margin-right: 1px;
}

.note-div {
  position: relative;
  gap: 0px;
}

.remove-note-btn {
  position: absolute;
  right: -1px;
  top: -5px;
  width: 15px;
}

.remove-note-btn:hover {
  cursor: pointer;
}

.note {
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
  border: 0;
  outline: 0;
}

.note:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

/* END OF NOTE MODULE */

/* RANDOMIZE BACKGROUND IMAGE BUTTON/INPUT */

.random-bg-btns-div {
  display: flex;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.new-bg-btn {
  display: flex;
  align-items: center;
  padding: 8px 18px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(220, 220, 220);
  font-size: 0.8rem;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border: 0;
  backdrop-filter: blur(4px);
  transition: all 0.5s ease;
  text-transform: lowercase;
  cursor: pointer;
}

.new-bg-btn:hover {
  backdrop-filter: none;
  box-shadow: 0 0 1px 1px rgba(255, 255, 25, 0.5) inset;
}

.new-bg-btn:hover .btn-icon {
  transform: rotate(120deg);
}

.btn-icon {
  width: 0.8rem;
  margin-right: 0.5rem;
  transition: all 0.5s ease;
}

.keyword-input {
  display: inline;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(220, 220, 220);
  backdrop-filter: blur(4px);
  transition: all 0.5s ease;
  text-transform: lowercase;
  border: 0;
  outline: 0;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  margin-left: 0.3rem;
  font-weight: 700;
  padding-left: 5px;
  width: 135px;
}

.keyword-input:focus {
  backdrop-filter: none;
}





/* UTILITY CLASSES */

.bold {
  font-weight: 900;
}